*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.checked {
  color:orange;
}

.title{
  font-size: 40px;
    margin: 10px 30px;
}
.descrip{
    margin:5px 30px;
}

.filter{
  border: 1px solid gray;
  border-left: none;
  border-right: none;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="checkbox"]{
  margin-left: 20px;
  margin-right: 5px;
}
input[type="number"],input[type="text"]{
  margin-left: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  width: 100px;
}


.list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card-list{
  /* border: 1px solid; */
  width: 200px;
  height: 300px;
  margin: 10px;
  position: relative;
  margin: 30px 20px;
}

.card-list-img img{
width: 100%;
}

.card-list-name{
  margin: 5px 0px;
  text-transform: capitalize;
}

.card-list-rating{
  margin: 5px 0px;
}

.card-list-categories{
  margin: 5px 0px;
}

.learn-more{
  cursor: pointer;
  bottom: 0;
  width: 100%;
  position: absolute;
  margin-top: 30px;
  background-color: #012A59;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 12px;
}



/* =============== POPUP ==================== */

.popup{
  box-shadow: 4px 13px 13px rgb(0 0 0 / 29%);
  left: 50%;
    position: fixed;
    top: 50%;
    width: 720px;
    overflow: hidden;
    height: 450px;
    transform: translate(-50%, -50%);
    /* background: #00000026; */
    padding: 10px;
    background-color: white;
}
.close-popup{
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.popup-main{
  display: flex;
}
.popup-header{
  display: flex;
 align-items: center;
}
.popup-img{
  width: 100%;
}
.popup-img img{
  width: 100%;
}
.popup-name{
  text-transform: capitalize;
  margin: 5px 0px;
  font-size: 25px;
}
.popup-rating{
  margin: 5px 5px;
}
.popup-categories{
  margin: 5px 0px;
  text-transform: capitalize;
}
.popup-text{
  text-align: justify;
}

.popup-left-side{
  flex: 1;
  display: flex;
  justify-content: start;
  /* align-items: center; */
  flex-direction: column;
  height: 100%;
  margin-right: 5px;
}
.popup-right-side{
  flex: 1;
  margin-left: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.load-more{
  /* background-color: #012A59;
  color: white; */
  /* height: 30px; */
  display: flex;
  justify-content: center;

}

.load-more-button{
  cursor: pointer;
  border: 1px solid #012A59;
  color: #012A59;
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}